<div class="container mx-auto px-4">
    <h1 class="text-3xl font-semibold text-gray-900 dark:text-white">About</h1>
    <div class="mt-6 text-gray-600 dark:text-gray-400">
        <p>
            This is a simple URL shortener service that I created using Node.js, Express, and MongoDB. It is hosted on
            GitHub and uses the EJS templating engine to render the views. The service allows users to shorten URLs and
            access them later. The shortened URLs are stored in a MongoDB database and can be accessed by anyone with
            the shortened URL.
        </p>
        <p>&nbsp;</p>
        <p>
            Feel free to use the service to shorten your URLs and share them with others. If you have any questions or
            feedback, please contact me at
            <a href="mailto:example@example.com"
               class="underline text-blue-600 hover:text-blue-400">
                example@example.com
            </a>.
            I hope you enjoy using the service!
        </p>
    </div>
</div>