<!doctype html>
<html lang="en">
<%- include('_partials/head.ejs') %>
<body class="text-gray-800 bg-gray-100">
<%- include('_partials/header.ejs') %>

<%- include('_partials/footer.ejs') %>
</body>
</html>