<% messages && messages.forEach(message => { %>
    <%
        let twClass;
        switch (message.type) {
            case 'error':
                twClass = 'bg-red-100 border-red-400 text-red-700';
                break;
            case 'success':
                twClass = 'bg-green-100 border-green-400 text-green-700';
                break;
            case 'warning':
                twClass = 'bg-yellow-100 border-yellow-400 text-yellow-700';
                break;
            default:
                twClass = 'bg-blue-100 border-blue-400 text-blue-700';
                break;
        }
    %>
    <div class="md:col-span-3">
        <div class="<%= twClass; %> border px-4 py-3 rounded relative"
             role="alert">
            <strong class="font-bold"><%= helpers.capitalizeFirstLetter(message.type); %></strong>
            <span class="block sm:inline"><%- message.message; %></span>

            <button onclick="this.parentElement.style.display='none';"
                    type="button"
                    class="absolute top-0 right-0 mt-2 mr-2 bg-transparent border border-gray-300 text-gray-500
                    hover:bg-gray-200 hover:text-gray-700 rounded-sm pl-1 pr-1 transition duration-200 ease-in-out"
            >
                &times;
            </button>
        </div>
    </div>
<% }); %>
