<header>
    <nav class="flex flex-col sm:flex-row w-full justify-between items-center px-4 py-1 bg-white shadow">
        <div class="w-full self-start flex flex-row flex-nowrap justify-between items-center sm:w-auto">
            <a href="#"><img src="" alt="Logo"></a>
        </div>
        <div class="w-full self-end flex-col items-center h-full py-1 pb-4 sm:w-auto">
            <a href="#" class="font-bold hover:text-gray-400 text-lg text-center w-full no-underline py-2 px-3">
                About
            </a>
            <a href="#" class="font-bold hover:text-gray-400 text-lg text-center w-full no-underline py-2 px-3">
                Contact
            </a>
            <a href="#" class="font-bold hover:text-gray-400 text-lg text-center w-full no-underline py-2 px-3">
                Something else
            </a>
        </div>
    </nav>
</header>
