<% if (errors && errors.length > 0) { %>
    <div class="mb-4">
        <ul class="text-red-500">
            <% errors.forEach(function(error) { %>
                <li>
                    <img src="/resources/svg/cross.svg" alt="Cross Icon" width="25" height="25"
                         class="inline-block rounded-full p-1 fill-current bg-red-200 text-red-700"
                    />
                    <%= error.msg %>
                </li>
            <% }) %>
        </ul>
    </div>
<% } %>